<div class="card">
  <div class="card-header">
    <h1>
      Hello <%= @user.email %>
    </h1>
  </div>
  <div class="card-body">
    <p>
      <i>Enjoy the Movie review system</i>
    </p>
  </div>
</div>
